<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <bean id="demoService" class="net.galvin.dubbo.service.impl.DemoServiceImpl" />

    <dubbo:application name="dubbo_demo" />

    <dubbo:registry address="zookeeper://10.112.4.95:2181" />

    <dubbo:protocol name="dubbo" port="20890" />

    <dubbo:service interface="net.galvin.dubbo.service.DemoService" ref="demoService" />

</beans>